[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
psycopg2-binary = "*"
requests = "*"
html5lib = "*"
bs4 = "*"
lxml = "*"
bpython = "*"
pytest = "*"
pytest-icdiff = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.8"
